extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/search-and-home.css")
  //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

block content
    div(class="content")
        ul.list
            each question in questions
               li
                  a(href=`/question/${question.id}`)= question.title
