doctype html
html
  head
      block head
        title="DinoFlow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/sidebar.css')
        
  body
    header.navbar__container
      nav
        div.mainButtons
          a(href='/' id="logo")
            img(src="/logo.PNG" id="logo_image")
        div.searchContainer
          form(action='/search' method='GET')
            input#search(name='term' value='' type='search' placeholder='Search...')
        div.userButtons
          if locals.authenticated
            div.username Welcome, #{locals.user.username}!
            form(action="/users/logout", method="post")
              button#logout-button(type="submit") Logout
          else
            a#login-button(href='/users/login') Login
            a#register-button(href='/users/register') Register
    div.sidebar
      ul
        h2 Github Repo
        a(href='https://github.com/D-Tanner/DinoFlow') 
          img(src="/git.png")
        h2 Contributors
        a(href='https://www.linkedin.com/in/dillon-tanner-a881951aa/')
          img(src="/dillon.jpg")
        a(href='https://www.linkedin.com/in/sebthtan/') 
          img(src="/sebastian.jpg")
        a(href='https://www.linkedin.com/in/jchc/') 
          img(src="/juan.jpg")
        a(href='https://www.linkedin.com/in/tolulope-v-924b94174/') 
          img(src="/lu.jpg")
    div.sidebar_toggle 
    main.content
      div(id="background_image")
    block questionButton
    block content
