doctype html
html
  head
      block head
        title="DinoFlow"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
  body
    header.navbar__container
      nav
        div.mainButtons
          a(href='/' id="logo")
            img(src="/logo.png" id="logo_image")
        div.searchContainer
          form(action='/search' method='GET')
            input#search(name='term' value='' type='text' placeholder='Search...')
        div.userButtons
          if locals.authenticated
            form(action="/users/logout", method="post")
              button#logout-button(type="submit") Logout
          else
            a#login-button(href='/users/login') Login
            a#register-button(href='/users/register') Register
    main.content
      div(id="background_image")
    block questionButton
    block content
