extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/login-page.css")

block content
    +validationErrorSummary(errors)
    div(class="body")
        div(class="body_content")
            h1 Login
            div(class="form-signup-login")
                form(class="form-signup-login" action='/users/login' method='post')
                    input(type='hidden' name='_csrf' value=csrfToken)
                    +field(null, 'email', email , 'email', 'Email', 'email')
                    +field(null, 'password', '', 'password', 'Password', 'password')
                    div
                        button(id='login_button' name='submit' type='submit') Login

                        //- div(id="cancel_button-space")
                        //-     a(id="cancel_button" href='/') Cancel
                form(action="/users/login/demo" method="post")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    button(id='login_button' name='submit' type='submit') Demo Login
                div
                    p: a(id='signup_link' href='/users/register') Don't have an account?
