extends layout.pug

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question-page.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="container")
    div(class="content")
      h1(id="title")= question.title
      hr
      div(class="question_content")
        p= question.content

      div(class="votes") Votes
      h2 Answers
      each answer in answers
        div
            div= answer.dataValues.content
      h2 Your Answer
      form(id='answer_to_question')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('', 'answer', 'Write your answer here', 'textarea', null, id)
        div
          button(type='submit' id="answer_button") Answer this Question
          a(href='/') Cancel

//- if a user is logged in, they should see the form prompt
