extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/register-page.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  +validationErrorSummary(errors)
  div(class="body")
    div(class="body_content")
      h1 Create an account
      form(class="form-signup-login" action='/users/register' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('', 'username', user.username, 'text', 'Dinosaur', 'username')
        +field('', 'email', user.email, 'email', 'Email', 'email')
        +field('', 'password', '', 'password', 'Password', 'password')
        +field('', 'confirmPassword', '', 'password', 'Confirm Password', 'confirm')
        div
          button(type='submit' id="register_button") Register
          //- div(id="cancel_button-space")
          //-   a(href='/' id="cancel_button") Cancel
      div
        p: a(href='/users/login' id="already_dinosaur") Already a dinosaur?
