extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/search-and-home.css")
  //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)
append questionButton
 div#ask-question-container
    a#ask-question-button(href='/ask-question') Ask Question

block content
    div(class="page_content")
        ul.list
            each question in questions
               li
                a(href=`/question/${question.id}`)= question.title
                p(id="user_info")= `Asked by ${question.User.username}`
                //- p(id="user_info")= `Asked at ${question.createdAt} by ${question.User.username}` //We want to implement this
