.question_form_content {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  box-shadow: -1px 1px 5px #dfe0e0;
  padding: 20px;
  border-radius: 5px;
}

#question_title,
#question_content {
  width: 90%;

}

#post_a_question {
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    min-width: 173px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    border: none;
}



#post_a_question:hover {
    background-color: rgb(137, 193, 245);
    cursor: pointer;
}

#cancel {
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
    background-color: #9b1a1a;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    padding: 10px;
    text-decoration: none;
    min-width: 83px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px;

}

#cancel:hover {
    background-color: rgb(228, 15, 15);
}

#ask-question-page {
  width: 100%;
}

.buttons {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.gimme_space {
  padding-top: 20px;
}
