.body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.form-signup-login {
  width: 500px;
}

h1 {
  margin: 10px;
  padding: 10px;
}

#email,
#password {
  width: 100%;
  margin: 10px;
  padding: 10px;
}

#login_button {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

#login_button:hover {
    background-color: rgb(137, 193, 245);
    cursor: pointer;
}

#cancel_button {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #9b1a1a;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    float: left;
}

#cancel_button:hover {
    background-color: rgb(228, 15, 15);
    cursor: pointer;
}

#cancel_button-space {
  margin-top: 0px;
}

#signup_link {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  color:rgb(20, 79, 134)
}
