
nav {
    overflow: hidden;
    background-color: rgb(255, 178, 35);
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0px;
    min-width: 550px;
    opacity: 100%;
    box-shadow: 1px 1px 5px 1px gray;
}

.username {
    height: 100%;
    vertical-align: middle;
    float: left;
    color: #3c4146;
    text-align: center;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    transition-duration: 0.2s;
    width: 25rem;
    height: 40px;
    border-radius: 10px;
    margin: 0.25rem 1rem 0 0.25rem;
    padding-top: 6px;

}

.userButtons > a {
    float: right;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 15px;
}

.searchContainer > form {
    display: inline-flex;
    align-items: center;
    float: left;
    padding: 5px;
}

.userButtons {
    border-color: var(--theme-button-filled-border-color);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    padding: 0 4px;
}

#login-button {
    color: #39739d;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    background-color: #e1ecf4;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    margin-top: 2px;
    height: 42px;
    transition-duration: 0.2s;
    text-decoration: none;
}

#login-button:hover {
    background-color: rgb(137, 193, 245);
}

#register-button {
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    margin-top: 2px;
    height: 42px;
    transition-duration: 0.2s;
    margin-right: 3px;
    text-decoration: none;
}

#register-button:hover {
    background-color: rgb(137, 193, 245);
}

#logout-button{
    float: right;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0077cc;
    border-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
    margin-top: 2px;
    width: 65px;
    height: 42px;

    border: none;
}

#logout-button:hover {
    background-color: rgb(137, 193, 245);
    cursor:pointer;
}

.content {
    padding-top: 50px;
}

#search {
    min-width: 20rem;
    height: 38px;
}

#search:focus {
    outline-color:rgb(137, 193, 245);
}


#background_image {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/81QxCatsSyL._AC_SL1500_.jpg");
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.07;
}

#logo {
    height: 100%;
    vertical-align: middle;
    float: left;
    color: gray;
    text-align: center;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    transition-duration: 0.2s;
    width: 7rem;
    height: 40px;
    border-radius: 10px;
    margin: 0.25rem 1rem 0 0.25rem;

}

#logo_image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition-duration: 0.2s;
    backface-visibility: hidden;
}

#logo_image:hover {
    opacity: 0.3;
}
