nav {
    overflow: hidden;
    background-color: orange;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.mainButtons > a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 15px;
}

.userButtons > a {
    float: right;
    display: block;
    color: lightgray;
    text-align: center;
    padding: 15px;
}

.searchContainer > form {
    display: block;
    float: left;
    padding: 15px;

}

.userButtons {
    border-color: var(--theme-button-filled-border-color);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
}

#login-button {
    color: #39739d;
    background-color: #e1ecf4;
    border-color: #e1ecf4;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
    transition-duration: 0.2s;
    text-decoration: none;
}

#login-button:hover {
    background-color: rgb(137, 193, 245);
}

#register-button {
    color: white;
    background-color: #0077cc;
    border-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
    margin-right: 3px;
    text-decoration: none;
}

#register-button:hover {
    background-color: rgb(137, 193, 245);
}
