.page_content {
  padding: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.question_content {
  padding-top: 10px;
}

#title {
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: large;
  font-weight: normal;
}

button {
  margin-right: 20px;
}

.answers_section {
  display: flex;
  align-items: center;
}
/*appending answers not working yet*/

.single_answers {

  padding-bottom: 15px;
  margin-left: 20px;
}

.votes {
  margin-left: 0;
  float: left;
  text-align: center;
  width: 5rem;
}

.button_votes{
  display: block;
  width: 100%;
  margin: 5px 0;
  background: none;
  border: none;
}

.vote_count{
  width: 100%;
  text-align: center;
}
