.page_content {
    padding: 24px;
    max-width: 1100px;
    margin: -6rem auto;
}

.question_content {
    padding-top: 10px;
}

#question_content_text {
    margin-bottom: 40px;
}

#title {
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
    font-weight: normal;
}

button {

    margin-right: 20px;

}

.answers_section {
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
}

.single_answers_container {

    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 100%;
    grid-template-areas: 'answer answer answer answer answer answer answer answered';
    width: 100%;
}

.single_answers {
    padding: 15px;
    grid-area: answer;
    vertical-align: middle;
}

.user_info {
    text-align: right;
    color: darkblue;
    font-size: 15px;
    font-weight: bold;
}

.answered_by {
    font-size: 15px;
    grid-area: answered;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    align-self: center;
    color: black;
}

.single_answers_buttons {
  /* display: flex; */
  margin: 0 auto;
  grid-area: answerButtons;
}

.button_delete {
  grid-area: answerDelete;
}

.button_edit {
  grid-area: answerEdit;
}
.button_delete, .button_edit {
  position: relative;
  top: -1em;
  float: right;
  height: 1.5em;
  width: 4em;
  /* margin-right: .5em; */
  margin: auto;
}

.votes {
    margin-left: 0;
    float: left;
    text-align: center;
}

.button_votes {
    display: block;
    width: 100%;
    margin: 5px 0;
    background: none;
    border: none;
}


.button_votes[voted=true]{
  background-color: rgba(127, 131, 127, 0.3)
}

.button_votes:focus {
  outline: none;
}

.vote_count{
  width: 100%;
  text-align: center;

}

.error_message {
    color: red;
    font-weight: bold;
}

textarea {
    width: 100%;
    padding: 10px;
}

#answer_button {

    background-color: #0095ff;
    color: white;
    height: 44px;
    width: 150px;

    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    transition-duration: 0.2s;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    min-width: 173px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;

}

#answer_button:hover {
    background-color: rgb(137, 193, 245);
}

.cancel_button {
    color: white;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
    background-color: #9b1a1a;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    padding: 10px;
    text-decoration: none;
    min-width: 83px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px;
}

.cancel_button:hover {
    background-color: rgb(228, 15, 15);
}

.resize {
    width: 36px;
    height: 36px;
}

.container > * {
    padding: 50px;
}

.buttons {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex_container {
  display: flex;
  justify-content: flex-end;
}

.edit_button {
  color: white;
    font-size: 14px;
    text-align: center;
    background-color: #0077cc;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    height: 44px;
    transition-duration: 0.2s;
    margin-right: 5px;
    padding: 10px;
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_button:hover {
  background-color: rgb(137, 193, 245);
}

#delete_question {
  border: none;
}
