.content {
  padding: 24px;
  max-width: 1100px;
  padding-top: 100px;
  margin: 0 auto;
}

.question_content {
  padding-top: 10px;
}

#title {
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: large;
  font-weight: normal;
}

button {
  margin-right: 20px;
}

/* .answers_section {

} */

.single_answers {

  padding-bottom: 15px;
  margin-left: 100px;
}

.votes {
  margin-left: 0;
  float: left;
  text-align: center;
}
