body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

#container {
  background-color: #eff0f1;
  height: 100vh;
}

#form_block{
  background-color: #ffffff;
  width: 22rem;
  border-radius: 10px;
}

#login_form div{
  margin: 10% 10%;
}

#login_button{
  background-color: #0095ff;
  color: #ffffff;
  width: 80%;
}

#login_cancel{
  display: block;
}

#form{
  margin: 0 auto;
}

#signup_link{
  color: #0095ff;
}

.alert{
  box-sizing: border-box;
  position: relative;
  height: 30%;
  width: 30%;
  padding: 3rem;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f5c2c7;
  color: #842029;
}

body{
  background-color: #eff0f1;
}