body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}


.alert{
  box-sizing: border-box;
  /* position: relative; */
  height: 30%;
  width: 80%;
  padding: 3rem;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f5c2c7;
  color: #842029;
}

.alert li {
  padding-top: 10px;
}

body{
  background-color: #eff0f1;
}
