.page_content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 15px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 25px 15px 25px 15px;
    color: #0077cc;
    background-color: #fdf7e3;
    margin: 20px 0px 20px 0px;
    width: 100%;
}

li:hover {
    box-shadow: -0.5px 0.5px 3px rgb(143, 162, 168);
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
}

.list {
    /* padding: 25px 15px 25px 15px; */
    width: 80%;
    margin: 0 auto;
}

#user_info {
    font-size: 15px;
    color: #3c4146;
    margin: 10px 0px 0px 0px;
}
